<div>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header" style="padding-left: 5%">
          <a class="navbar-brand" style="text-align: center;" href="#"><b>Kubera</b></a>
        </div>
        <div class="nav navbar-nav" style="margin-top: 10px; padding-left: 80%;">
          <button type="submit" class="btn btn-link" (click)="logout()">Log Out</button>
        </div>
      </div>
    </nav>
  </div>
  
    <div>
      <nav class="navbar-fixed-top2">
        <div class="container" style="margin-top: -10%; padding-top: 5%; display: flex; align-items: center; justify-content: center;">
        <a class="btn btn-primary" routerLink="/portfolio" routerLinkActive="activebutton">Portfolio</a>
        <a class="btn btn-primary" style="margin-left: 20px;" routerLink="/stock"
          routerLinkActive="activebutton">Stock</a>
        <a class="btn btn-primary" style="margin-left: 20px;" routerLink="/dividend"
          routerLinkActive="activebutton">Dividend</a>
      </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
  
  <div class="container" style="height: 100%; display: flex; align-items: center; justify-content: center;">
      <form>
        <div class="form-group" style="margin-top: 50px;">
          <label for="transaction_date">Transaction Date</label>
          <input type="text" class="form-control" id="transaction_date" [(ngModel)]="currentDividend.transaction_date" name="transaction_date">
        </div>
        <div class="form-group">
          <label for="transaction_type">Transaction Type</label>
          <input type="text" class="form-control" id="transaction_type" [(ngModel)]="currentDividend.transaction_type" name="transaction_type">
        </div>
        <div class="form-group">
          <label for="symbol">Symbol</label>
          <input type="text" class="form-control" id="symbol" [(ngModel)]="currentDividend.symbol" name="symbol">
        </div>
        <div class="form-group">
          <label for="ex_div_date">Ex Dividend Date</label>
          <input type="text" class="form-control" id="ex_div_date" [(ngModel)]="currentDividend.ex_div_date" name="ex_div_date">
      </div>
      <div class="form-group">
          <label for="record_date">Record Date</label>
          <input type="text" class="form-control" id="record_date" [(ngModel)]="currentDividend.record_date" name="record_date">
      </div>
      <div class="form-group">
          <label for="payment_date">Payment Date</label>
          <input type="text" class="form-control" id="payment_date" [(ngModel)]="currentDividend.payment_date" name="payment_date">
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="text" class="form-control" id="quantity" [(ngModel)]="currentDividend.quantity" name="quantity">
      </div>
      <div class="form-group">
          <label for="div_per_share">Dividend Per Share</label>
          <input type="text" class="form-control" id="div_per_share" [(ngModel)]="currentDividend.div_per_share" name="div_per_share">
      </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" style="margin-left: 25px;" (click)="saveDividend()">Save</button>
          <button type="submit" class="btn btn-default" style="margin-left: 15px;" (click)="cancelDividend()">Cancel</button>
        </div>
      </form>
      </div>
