<div class="container"
  style="height: 100%; padding-top: 10%; display: flex; align-items: center; justify-content: center;">
    <form *ngIf="show">
      <h1>Welcome to Kubera</h1>
      <br>
      <div class="form-group">
        <label for="user_id">Username</label>
        <input type="text" (input)="onInput($event)" class="form-control" id="user_id" name="user_id">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>
      <div class="form-group">
        <button class="btn btn-success" style="margin-left: 70px;" (click)="loginUser()">Sign In</button>
        <button class="btn btn-link" style="margin-left: 20px;" (click)="registerUser()">Register</button>
      </div>
    </form>
    <router-outlet></router-outlet>
</div>
